@page "/bestof"
@rendermode InteractiveServer

<div class="bestof-main-grid" @onkeydown="HandleGlobalKeyDown" tabindex="0" style="outline:none;" @ref="inputRef">
	<div class="scoreboard-shell" style="@ViewModel.GetShellGridStyle()">
		@if (TeamNamesAvailable)
		{
			<div class="teamname teamname-left" data-autofit data-autofit-min="8" data-autofit-vertical="true">@ViewModel.LeftTeamName</div>
		}

		<div class="scoreboard-center">
			<div class="score-row score-top-row header-text">@ViewModel.HeaderText</div>

			<div class="score-row bestof-mid-grid">
				<div class="score-cell left-point-sum" data-autofit data-autofit-min="12">@ViewModel.LeftPointsSum</div>
				<div class="score-cell left-match-points" data-autofit data-autofit-min="10">@ViewModel.LeftMatchPoints</div>
				<div class="score-cell seperator" data-autofit data-autofit-min="12">:</div>
				<div class="score-cell right-match-points" data-autofit data-autofit-min="10">@ViewModel.RightMatchPoints</div>
				<div class="score-cell right-point-sum" data-autofit data-autofit-min="12">@ViewModel.RightPointsSum</div>
			</div>

			<div class="score-row score-bottom-grid">
				<div class="score-cell left-points" data-autofit data-autofit-min="10">@ViewModel.LeftPoints</div>
				<div class="score-cell input-value" data-autofit data-autofit-min="10">@ViewModel.InputValue</div>
				<div class="score-cell right-points" data-autofit data-autofit-min="10">@ViewModel.RightPoints</div>
			</div>
		</div>

		@if (TeamNamesAvailable)
		{
			<div class="teamname teamname-right" data-autofit data-autofit-min="8" data-autofit-vertical="true">@ViewModel.RightTeamName</div>
		}
	</div>
</div>
