@page "/layouttest"
@rendermode InteractiveServer
@using BlazorAppTests.Components.Pages
@inherits LayoutTestBase

<div class="containerX"  @onkeydown="HandleGlobalKeyDown" tabindex="0" @ref="inputRef">
    @if (isLeftPanelVisible)
    {
        <div class="teamname-left">Mia san a da</div>
    }

    <div class="content">
        <div class="line line-1">
            <span class="header-text">HEADER: Bahn X</span>
        </div>

        <div class="line line-2">
            <PunkteAnzeige Punkte1="@scoreA" Punkte2="@scoreB" />
        </div>

        <div class="line line-3">
            <PunkteEingabe @ref="punkteEingabeRef"
                           Punkte1="@links"
                           Punkte2="@rechts"
                           WertText="@meinWert"
                           OnWertChanged="HandleWertChanged"
                           OnKeyDown="HandleGlobalKeyDown" />
        </div>

        @if (isAdvertVisible)
        {
            <div class="line line-Advert">Werbung</div>
        }
    </div>

    @if (isRightPanelVisible)
    {
        <div class="teamname-right">Ein Verein mit einem sehr sehr sehr langen Namen</div>
    }
</div>
