@page "/layouttest"
@rendermode InteractiveServer
@using BlazorAppTests.Components.Pages
@inherits LayoutTestBase

<div class="containerX">
    @if (isLeftPanelVisible)
    {
        <div class="left">Mia san a da</div>
    }

    <div class="content" @onkeydown="HandleGlobalKeyDown">
        <div class="line line-1">HEADER: Bahn X</div>

        <div class="line line-2">
            <PunkteAnzeige Punkte1="@scoreA" Punkte2="@scoreB" />
        </div>

        <div class="line line-3">
            <PunkteEingabe @ref="punkteEingabeRef"
                           Punkte1="@links"
                           Punkte2="@rechts"
                           WertText="@meinWert"
                           OnWertChanged="HandleWertChanged"
                           OnKeyDown="HandleGlobalKeyDown" />
        </div>

        @if (isAdvertVisible)
        {
            <div class="line line-Advert">Werbung</div>
        }
    </div>

    @if (isRightPanelVisible)
    {
        <div class="right">Ein Verein mit einem sehr sehr sehr langen Namen</div>
    }
</div>

<p style="color:red">Test: @test</p>