@page "/training"
@using StockTvBlazor.Components.Models
@using System.Diagnostics
@rendermode InteractiveServer
@inject StockTvBlazor.Components.Services.SettingsService _settingsService
@inject NavigationManager _navigationManager
@inject StockTvBlazor.Components.Networking.NetMqPublisherService _publisherService
@inject StockTvBlazor.Components.Services.MatchService _matchService
@inject StockTvBlazor.Components.ViewModels.TrainingViewModel ViewModel
@inject IJSRuntime JS
@implements IDisposable

<div class="training-main-grid" @onkeydown="HandleGlobalKeyDown" tabindex="0" style="outline:none;" @ref="inputRef">

	<div class="training-row training-top-row header-text">@ViewModel.HeaderText</div>

	<div class="training-row training-middle-row training-mid-grid">
		<div class="training-cell left-point-sum" data-autofit data-autofit-min="12">@ViewModel.LeftPointsSum</div>
		<div class="training-cell seperator" data-autofit data-autofit-min="12">:</div>
		<div class="training-cell right-point-sum" data-autofit data-autofit-min="12">@ViewModel.RightPointsSum</div>
	</div>

	<div class="training-row training-bottom-row training-bottom-grid">
		<div class="training-cell left-points" data-autofit data-autofit-min="10">@ViewModel.LeftPoints</div>
		<div class="training-cell input-value" data-autofit data-autofit-min="10">@ViewModel.InputValue</div>
		<div class="training-cell right-points" data-autofit data-autofit-min="10">@ViewModel.RightPoints</div>
	</div>

</div>

@code {
	private ElementReference inputRef;
	private StockTvBlazor.Components.Models.Settings _settings => _settingsService.CurrentSettings;
	private bool _disposed = false;

	protected override void OnInitialized()
	{
		ViewModel.OnViewModelChanged += HandleUpdate;
		_settingsService.OnNavigationRequested += HandleNavigationRequested;
		ViewModel.OnNavigationRequested += HandleNavigationRequested;
	}

	public void Dispose()
	{
		_disposed = true;
		ViewModel.OnViewModelChanged -= HandleUpdate;
		_settingsService.OnNavigationRequested -= HandleNavigationRequested;
		ViewModel.OnNavigationRequested -= HandleNavigationRequested;

		ViewModel.Dispose();
	}

	private void HandleNavigationRequested(string url)
	{
		if (_disposed) return;

		InvokeAsync(() => _navigationManager.NavigateTo(url));
	}

	private async void HandleUpdate()
	{
		if (_disposed) return;

		await InvokeAsync(() =>
			{
				StateHasChanged();
			});
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		await JS.InvokeVoidAsync("stockTvAutoFit.observe", ".training-main-grid");

		if (firstRender)
			await inputRef.FocusAsync();
	}

	private async Task HandleGlobalKeyDown(KeyboardEventArgs e)
	{
		await ViewModel.ProcessKeyAsync(e.Key);
	}
}