@page "/training"
@using StockTvBlazor.Components.Models
@using System.Diagnostics
@rendermode InteractiveServer
@inject StockTvBlazor.Components.Models.Settings _settings
@inject NavigationManager _navigationManager
@implements IDisposable

<div class="main-grid training" @onkeydown="HandleGlobalKeyDown" tabindex="0" style="outline:none;" @ref="inputRef">

	<div class="header-text">@Model.HeaderText</div>

	<div class="row-2 sub-grid">
		<div class="left-point-sum">@Model.LeftPointsSum</div>
		<div class="seperator">:</div>
		<div class="right-point-sum">@Model.RightPointsSum</div>
	</div>

	<div class="row-3 sub-grid">
		<div class="left-points">@Model.LeftPoins</div>
		<div class="input-value">@Model.InputValue</div>
		<div class="right-points">@Model.RightPoints</div>
	</div>

</div>

<style>

</style>

@code {
	private ElementReference inputRef;

	public TrainingViewModel Model { get; set; } = default!;

	protected override void OnInitialized()
	{
		Model = new TrainingViewModel(_settings, _navigationManager);
		Model.OnViewModelChanged += StateHasChanged;
	}
	public void Dispose()
	{
		Model.OnViewModelChanged -= StateHasChanged;
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await inputRef.FocusAsync();
		}
	}
	private void HandleGlobalKeyDown(KeyboardEventArgs e)
	{
		Model.ProcessKey(e.Key);
		StateHasChanged(); // Sicherstellen, dass die Punkte sofort umschalten
	}
}