@page "/training"
@using StockTvBlazor.Components.Models
@using System.Diagnostics
@rendermode InteractiveServer
@inject StockTvBlazor.Components.Services.SettingsService _settingsService
@inject NavigationManager _navigationManager
@inject StockTvBlazor.Components.Networking.NetMqPublisherService _publisherService
@inject StockTvBlazor.Components.Services.MatchService _matchService
@inject StockTvBlazor.Components.ViewModels.TrainingViewModel ViewModel
@implements IDisposable

<div class="main-grid training" @onkeydown="HandleGlobalKeyDown" tabindex="0" style="outline:none;" @ref="inputRef">

	<div class="header-text">@ViewModel.HeaderText</div>

	<div class="row-2 sub-grid">
		<div class="left-point-sum">@ViewModel.LeftPointsSum</div>
		<div class="seperator">:</div>
		<div class="right-point-sum">@ViewModel.RightPointsSum</div>
	</div>

	<div class="row-3 sub-grid">
		<div class="left-points">@ViewModel.LeftPoins</div>
		<div class="input-value">@ViewModel.InputValue</div>
		<div class="right-points">@ViewModel.RightPoints</div>
	</div>

</div>

<style>

</style>

@code {
	private ElementReference inputRef;
	private StockTvBlazor.Components.Models.Settings _settings => _settingsService.CurrentSettings;

	protected override void OnInitialized()
	{
		ViewModel.OnViewModelChanged += HandleUpdate;
	}

	public void Dispose()
	{
		ViewModel.OnViewModelChanged -= HandleUpdate;
		ViewModel.Dispose();
	}

	private async void HandleUpdate()
	{
		await InvokeAsync(() =>
			{
				StateHasChanged();
			});
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await inputRef.FocusAsync();
		}
	}

	private async Task HandleGlobalKeyDown(KeyboardEventArgs e)
	{
		if (ViewModel == null)
			return;

		await ViewModel.ProcessKeyAsync(e.Key);
		StateHasChanged(); // Sicherstellen, dass die Punkte sofort umschalten
	}
}