@page "/turnier"
@using StockTvBlazor.Components.Models
@rendermode InteractiveServer
@inject StockTvBlazor.Components.Services.SettingsService _settingsService
@inject NavigationManager _navigationManager
@implements IDisposable

<div class="main-grid turnier" @onkeydown="HandleGlobalKeyDown" tabindex="0" style="outline:none;" @ref="inputRef">

	<!-- Linke Spalte -->
	<div class="sidebar-left">Links</div>

	<!-- Mittlere Spalte mit 3 Zeilen -->
	<div class="center-column">
		<div class="header-text">@Model.HeaderText</div>

		<div class="row-2 sub-grid">
			<div class="left-point-sum">@Model.LeftPointsSum</div>
			<div class="seperator">:</div>
			<div class="right-point-sum">@Model.RightPointsSum</div>
		</div>

		<div class="row-3 sub-grid">
			<div class="left-points">@Model.LeftPoins</div>
			<div class="input-value">@Model.InputValue</div>
			<div class="right-points">@Model.RightPoints</div>
		</div>
	</div>

	<!-- Rechte Spalte -->
	<div class="sidebar-right">Rechts</div>

</div>

@code {
	private ElementReference inputRef;
	private StockTvBlazor.Components.Models.Settings _settings => _settingsService.CurrentSettings;


	public TurnierViewModel Model { get; set; } = default!;

	protected override void OnInitialized()
	{
		Model = new TurnierViewModel(_settingsService, _navigationManager);
		Model.OnViewModelChanged += StateHasChanged;

	}
	public void Dispose()
	{
		Model.OnViewModelChanged -= StateHasChanged;
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await inputRef.FocusAsync();
		}
	}
	private void HandleGlobalKeyDown(KeyboardEventArgs e)
	{
		Model.ProcessKey(e.Key);
		StateHasChanged(); // Sicherstellen, dass die Punkte sofort umschalten
	}


}