@page "/ziel"
@rendermode InteractiveServer

<PageTitle>Zielbewerb</PageTitle>

<div class="ziel-main-grid page-fullscreen" @onkeydown="HandleGlobalKeyDown" tabindex="0" style="outline:none;" @ref="inputRef">

	@if (ViewModel.IsSpielernameAvailable)
	{
		<div class="ziel-spielername" data-autofit data-autofit-min="8">@ViewModel.SpielerName</div>
	}

	<div class="ziel-block">

		<div class="ziel-row ziel-row-top">
			<div class="ziel-cell ziel-versuche" data-autofit data-autofit-min="10">
				@ViewModel.AnzahlVersuche
			</div>
			<div class="ziel-cell ziel-gesamt" data-autofit data-autofit-min="10">
				@ViewModel.GesamtText
			</div>
		</div>

		<div class="ziel-row ziel-row-mid">

			@if (ViewModel.InvalidInput)
			{
				<div class="ziel-overlay show" data-autofit data-autofit-min="10">
					ungültig
				</div>
			}

			<div class="ziel-cell ziel-col-a" data-autofit data-autofit-min="10">
				@ViewModel.LastValue
			</div>

			<div class="ziel-cell ziel-col-b input-value" data-autofit data-autofit-min="10">
				@ViewModel.InputValue
			</div>
			<div class="ziel-cell ziel-col-c" data-autofit data-autofit-min="10">
				@ViewModel.GesamtPunkteText
			</div>
		</div>

		<div class="ziel-row ziel-row-bottom">
			<div class="ziel-cell ziel-summe" data-autofit data-autofit-min="8">
				@ViewModel.SummeDerVersuche
			</div>
		</div>

	</div>
</div>
